<li>
    <img src="/assets/images/coin-icon.jpg" class="coin">{{pointLevel ponzvert.depth}} points: <strong>{{ponzvert.displayName}} </strong> <em>ponzverted on {{ponzvert.createdAt}}</em>
</li>
<ul>
{{#if ponzvert.childIds.length }}
 {{#each ponzvert.childIds as |ponzvert|}}
   <ul>
    {{>referral ponzvert=ponzvert}}
  </ul>
 {{/each}}
{{/if}}
</ul>
